html,
body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map {
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#map svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
circle, 
.legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch, 
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}
circle {
    fill: var(--color);
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1;
    pointer-events: auto;
}
.legend {
    display: flex;
    gap: 1px;
    margin-block: 1em;
}
.legend > div{
    flex: 1;
    background: var(--color);
    padding: 0.5em 1em;
    text-align: center;
    font-size: 0.85em;
    color: white;
}
header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}
header label {
    margin-left: auto;
}
time, em {
    display: block;
}
em {
    color: #888;
    font-style: italic;
}